body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:784px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:107px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:1px;
  width:775px;
  height:107px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:75px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:8px;
  width:87px;
  height:75px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:17px;
  width:337px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:155px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:125px;
  width:775px;
  height:155px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:496px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:300px;
  width:775px;
  height:496px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:68px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:15px;
  width:63px;
  height:68px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:59px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:29px;
  height:37px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:56px;
  width:19px;
  height:27px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
