body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:832px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:107px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:1px;
  width:823px;
  height:107px;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:75px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:8px;
  width:87px;
  height:75px;
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:17px;
  width:337px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:40px;
  width:108px;
  height:27px;
  opacity:0.2;
}
#u295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:26px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:40px;
  width:33px;
  height:26px;
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:45px;
  width:100px;
  height:14px;
  opacity:0.5;
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:597px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:119px;
  width:681px;
  height:597px;
}
#u298_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:774px;
  width:117px;
  height:30px;
}
#u299_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:774px;
  width:117px;
  height:30px;
}
#u300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:43px;
  width:68px;
  height:22px;
}
#u301_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
